
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>StickyBot</title>
    
  </head>
  <body>
   <main>
    
    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">StickyBot 生活便利貼─雲端相簿、檔案同步系統</font></font></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4 fs-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">透過LineBot上傳照片至Imgur, 上傳檔案至Google Drive分享.<br />透過LINE就可以簡單分享生活照片與檔案管理.</font></font></p>
        </div>
        <div class="overflow-hidden">
          <div class="container px-5">
            <img src="https://i.imgur.com/N7uoW4C.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Sticky Album" loading="lazy">
          </div>
        </div>
    </div>

    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-5 fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@212dgnhg</font></font></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4 fs-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">透過LINE 用戶ID搜尋 @212dgnhg , 並加入好友. 若要使用檔案上傳功能需建立群組</font></font></p>
        </div>
        <div class="overflow-hidden">
          <div class="container px-5">
            <img src="https://i.imgur.com/3Em3YCR.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Sticky Album" loading="lazy">
          </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5  border-bottom">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://i.imgur.com/4WTu2Vt.jpg" class="d-block mx-lg-auto img-fluid" alt="上傳照片" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-6 fw-bold lh-1 mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上傳照片</font></font></h1>
                <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">透過LINE聊天機器人將照片上傳至Imgur圖床, 公開免費圖片空間, 請勿上傳不可公開分享之照片</font></font></p>
            </div>
        </div>
    </div>    

    <div class="px-4 pt-5 my-5 text-center">
        <div class="row align-items-center">
            <div class="col-lg-2 "></div>
            <div class="col-lg-4 ">
                <h1 class="display-6 fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">貼貼 我的相簿叫XXX</font></font></h1>
                <div class="col-lg-12 mx-auto">
                <p class="lead mb-4 fs-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">修改相簿上方顯示的名稱</font></font></p>
                </div>
                <div class="overflow-hidden">
                <div class="container px-5">
                    <img src="https://i.imgur.com/SzpLvgE.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="修改相簿名稱" loading="lazy">
                </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <h1 class="display-6 fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">貼貼 給我相簿網址</font></font></h1>
                <div class="col-lg-12 mx-auto">
                <p class="lead mb-4 fs-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">取得相簿網址</font></font></p>
                </div>
                <div class="overflow-hidden">
                <div class="container px-5">
                    <img src="https://i.imgur.com/4k40pZu.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="相簿網址" loading="lazy">
                </div>
                </div>
            </div>
            <div class="col-lg-2 "></div>
        </div>
    </div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5  border-bottom">
            <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://i.imgur.com/N7uoW4C.jpg"" class="d-block mx-lg-auto img-fluid" alt="雲端相簿" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">即可透過相簿網址瀏覽上傳的照片</font></font></h1>
            </div>
        </div>
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5  border-bottom">
            <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://i.imgur.com/pKjVU8Z.jpg" class="d-block mx-lg-auto img-fluid" alt="Google Drive" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上傳檔案</font></font></h1>
            <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">透過LineBot上傳檔案至Google Drive, 並回傳連結網址</font></font></p>
            </div>
        </div>       
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5  border-bottom">
            <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://i.imgur.com/hw40fbp.jpg" class="d-block mx-lg-auto img-fluid" alt="Google Drive" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">貼貼 給我google drive網址</font></font></h1>
            <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">取得google drive網址</font></font></p>
            </div>
        </div>
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5  border-bottom">
            <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://i.imgur.com/jaAGd4p.jpg" class="d-block mx-lg-auto img-fluid" alt="搜尋檔案" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">貼貼 搜尋檔案</font></font></h1>
            <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">透過關鍵字搜尋Google Drive檔案(關鍵字前面要空白哦)</font></font></p>
            </div>
        </div> 
    </div>

    
    <div class="px-4 pt-5 my-5 text-center">
        <h2 class="display-4 fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">後 續 功 能 持 續 開 發 中 . . .</font></font></h2>
    </div>

  </main>

  <footer class="mt-auto text-white-50">
    <p></p>
  </footer>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
